In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/danieldepaoli/anaconda3/lib/python3.10/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/danieldepaoli/anaconda3/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
from getpass import getpass

In [5]:
cnx = mysql.connector.connect(user = "root",
                             password = getpass(),
                             host = "localhost",
                             database = "sakila")

········

In [6]:
cnx.is_connected()

True

In [7]:
cursor = cnx.cursor()

In [8]:
import pandas as pd

In [25]:
def rentals_month(engine, month, year):
    # Execute SQL query to retrieve rental data for the specified month and year
    query = f"SELECT * FROM sakila.rental WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}"
    result = engine.execute(query)
    
    # Convert the result to a Pandas DataFrame
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    return df

In [26]:
def rental_count_month(df, month, year):
    # Group the rentals by customer_id and calculate the rental counts
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month}_{year}')
    
    return rental_counts

In [27]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames on customer_id
    combined_df = pd.merge(df1, df2, on='customer_id', how='inner')
    
    # Calculate the difference between the rental counts of the two months
    combined_df['difference'] = combined_df[f'rentals_{df2.columns[-1][8:]}'] - combined_df[f'rentals_{df1.columns[-1][8:]}']
    
    return combined_df